# API
NUXT_PUBLIC_API_BASE_URL=http://localhost:3000/api
NUXT_PUBLIC_APP_URL=http://localhost:3001

# Auth
NUXT_PUBLIC_COOKIE_DOMAIN=localhost

# Features (feature flags)
NUXT_PUBLIC_ENABLE_PWA=false
NUXT_PUBLIC_ENABLE_ANALYTICS=false
